html,
body
  margin:0
  padding:0
  font:14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #CCCCCC
  height:100%
  width:100%

input
  width:170px
  border-radius:5px
  padding:5px
  margin:3px

input[type=submit]
  width:184px

a
  color: #FFFFFF  

// Login

#login
  position: absolute
  top:50%
  left:50%
  margin-top:-100px
  margin-left:-100px
  width:200px
  height:200px
  background-color: #333333
  color: #FFFFFF
  text-align:center
  border-radius:15px

.error 
  border:solid 2px #FF0000

// Chatt

#chatt
  position:relative
  height:100%
  left:0
  right:0
  display: none

#messages
  position:absolute
  top:0px
  bottom:50px
  left:0
  right:0
  overflow:auto;
  background-color: #CCCCCC

#footer
  position:absolute
  bottom:0px
  height:50px
  left:0
  right:0
  overflow:hidden;
  background-color: #333333

#message
  margin-top:10px
  margin-left:10px
  margin-right:5px
  width: -moz-calc(100% - 150px)
  width: -webkit-calc(100% - 150px)
  width: calc(100% - 150px)
#send
  margin-top:10px
  margin-right:10px
  margin-left:5px
  width:100px 

// Message

.message
  background-color: #104E8B
  color: #FFFFFF
  width:75%
  border-radius:15px
  word-wrap:break-word
  padding-bottom:10px

.myMessage
  float:right
  background-color: #228B22

.serverMessage
  width:100%
  background-color:#CDAD00

.messageContainer
  display:block
  left:0
  right:0
  overflow: hidden;
  margin:20px

.messageInfo
  padding:10px
  overflow:hidden;

.messageInfoImage
  margin:5px
  float:left

.messageInfoName
  margin:5px
  float:left

.messageInfoTime
  margin:5px
  float:right
 
.messageText
  padding-left:10px
  padding-right:10px  
  

  